*{
  padding:0;
  margin:0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="light"]{
  --bg-color:white;
  --text-color:black;
}

[data-theme="dark"]{
  --bg-color:black;
  --text-color:white;
}

body{
  background-color:var(--bg-color);
  color:var(--text-color);
}